.ui-progressbar {
    height: 12px;
    width: 85%;
}

#formPanel {
	padding-right: 10px;
}

.cell {
    background: white;
    border: 1px solid #DFDFDF;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 10px;
}

.slidegrid {
    margin-left: -15px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 14px;
    color: black;
}

p {
    margin-bottom: 14px;
}

h2 {
    color: #CC0000;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 14px;
}

.documentationPanel {
    width: 480px;
}

.documentationPanel p {
    font-size: 14px;
    line-height: 18px;
}

.documentationPanel pre {
    font-size: 12px;
    line-height: 14px;
    margin-left: 3em;
    font-family:Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
}

#mainHeaderContainer .headertitle {
    left: 35px;
}

iframe {
    border: thin solid gray;
}

#widgetsMessages button {
    margin: 10px;
}

/*
   These styles are used for the tab navigation option
 */
.tabnav .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav #mainNavigation {
    width: auto;
    float: none;
    margin: -55px 5px 15px 250px;
    white-space: nowrap;
}

.tabnav #mainContent {
    float: none;
}

.tabnav #mainNavContainer {
    border-bottom: thin solid black;
}

.tabnav #mainNavContainer a {
    display: inline;
    padding: 2em;
    width: auto;
    padding-bottom: 6px;
}

.tabnav .main-menuSeparator {
    display: none;
}

.tabnav #mainBody {
    margin-left: 35px;
}

.tabnav .navItemSelected a {
    background-color: #EDEEEC;
    margin-top: -25px;
}

.tabnav #mainHeaderContainer .headertitle {
    color: black;
    font-size: 24px;
}

.tabnav #mainHeader {
    background: transparent;
}

.msg-feedback {
	left: 335px;
}