body, .gwt-TextBox, .gwt-ListBox, .gwt-PasswordTextBox, .gwt-TextArea, .gwt-SuggestBox, body, table td, select {
    font-family: Helvetica,Arial,Verdana,Sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.ui-progressbar {
    height: 12px;
    width: 85%;
}

#WidgetsPanel {
	padding-right: 10px;
}

.slidegrid {
    margin-left: -15px;
}

h3 {
    font-size: 16px;
    color: #1795c6;
    font-weight: bold;
    margin-bottom: 14px;
}

p {
    margin-bottom: 14px;
}

h1 {
    color: #1795c6;
}

h2 {
    color: #1795c6;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.documentationPanel {
    width: 480px;
}

.documentationPanel p, .documentationPanel ul {
    font-size: 14px;
    line-height: 18px;
}

.documentationPanel pre {
    font-size: 12px;
    line-height: 14px;
    font-family: Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
}

.documentationPanel p a, .documentationPanel p a:visited {
    color: #289bc8;
}

.documentationPanel ul {
    list-style: square inside none;
    margin-bottom: 18px;
}

.documentationPanel li {
    list-style: disc inside none;
}
    

#mainHeaderContainer .headertitle {
    left: 20px;
    color: #636363;
    font-weight: bold;
    font-size: 40px;
}

#mainsubtitle {
    display: block;
    font-size: 24px;
    left: 110px;
    margin-left: 2em;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    white-space: nowrap;
}

#mainHeader {
    background: #dddddd;
    height: 61px;
}

.headertitle {
    font-size: 24px;
}

#headerleft {
    top: 8px;
}

#headerright {
    top: 15px;
}

iframe {
    border: thin solid gray;
}

#widgetsMessages button {
    margin: 10px;
}

#mainFooter {
    margin-left: 28px;
    margin-right: 28px;
    width: auto;
}

#mainNavContainer a, #mainNavContainer a:visited {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}

/*
   These styles are used for the tab navigation option
 */
.tabnav .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav #mainNavigation {
    width: auto;
    float: none;
    margin: -55px 5px 15px 250px;
    white-space: nowrap;
}

.tabnav #mainContent {
    float: none;
}

.tabnav #mainNavContainer {
    border-bottom: thin solid black;
}

.tabnav #mainNavContainer a {
    display: inline;
    padding: 2em;
    width: auto;
    padding-bottom: 6px;
}

.tabnav .main-menuSeparator {
    display: none;
}

.tabnav #mainBody {
    margin-left: 35px;
}

.tabnav .navItemSelected a {
    background-color: #EDEEEC;
    margin-top: -25px;
}

.navitemSelected {
    background-color: #efd137;
}

.tabnav #mainHeaderContainer .headertitle {
    color: black;
    font-size: 24px;
}

.tabnav #mainHeader {
    background: transparent;
}

.msg-feedback {
	left: 335px;
}

#localesTable {
    -moz-border-radius: 4px;
    -moz-column-gap: 20px;
    -moz-column-width: 120px;
    -webkit-border-radius: 4px;
    -webkit-column-gap: 20px; 
    -webkit-column-width: 120px;
    column-gap: 20px; 
    column-width: 120px; 
    font-size: 12px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 14px;
}

.highlightSection {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 14px;
}

#testAuthResult {
    font-weight:bold;
}

#mainBody {
    margin-top: -5px;
    height: 82%;
}

#main {
    margin-left: 28px;
    margin-right: 28px;
    background: white;
    padding-bottom: 10em;
}

#mainWrap {
    background: #dddddd;
}

.optionalText, .comment {
    color: rgb(0,128,0);
}

.keyword {
    color: blue;
}

.string {
    color: #e3003a;
}

.prefspulltab a {
    background-color: #dddddd;
}

.prefspulltab div {
    margin-top: 3px;
}

.prefspaneltab {
    position: relative;
    top: 5px;
}

#WidgetsSlidingGrid p {
    color: black;
}

.main-menuSeparator {
    background: url("images/sep_dash.png") no-repeat scroll 0 0 transparent;
    height:15px;
}
