body, .gwt-TextBox, .gwt-ListBox, .gwt-PasswordTextBox, .gwt-TextArea, .gwt-SuggestBox, body, table td, select {
    font-family: Helvetica,Arial,Verdana,Sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.ui-progressbar {
    height: 12px;
    width: 85%;
}

#WidgetsPanel {
    padding-right: 10px;
}

.slidegrid {
    margin-left: -15px;
}

h3 {
    font-size: 16px;
    color: #1795c6;
    font-weight: bold;
    margin-bottom: 18px;
}

h1 {
    color: #1795C6;
    line-height: 36px;
    margin-top: -4px;
    margin-bottom: 18px;
}

h2 {
    color: #1795c6;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 6px;     /* 36 / 18 = 2 */
}

.documentationPanel {
    width: 480px;
}

/*
   Most of the time we have a font size of 12 pixels.  This smaller
   font works well for form labels, but that doesn't work well for
   pages with larger blocks of text.  For the documentation panels
   in the SPSample application 12 pixels is too small.  For those 
   panels we use 14 pixel fonts with an 18 pixel line height.
 */
.documentationPanel p, .documentationPanel ul {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 18px;
}

.documentationPanel pre {
    font-size: 12px;
    line-height: 14px;
    font-family: Consolas,"Andale Mono",Monaco,Courier,"Courier New",Verdana,sans-serif;
}

.documentationPanel a, .documentationPanel a:visited, .slidegrid a, .slidegrid a:visited {
    color: #289bc8;
}

.documentationPanel ul {
    list-style: square inside none;
    margin-bottom: 18px;
}

.documentationPanel li {
    list-style: disc inside none;
}
    

#mainHeaderContainer .headertitle {
    left: 20px;
    color: #636363;
    font-weight: bold;
    font-size: 40px;
}

#headerstring {
    color: #636363;
}

#mainsubtitle {
    display: block;
    font-size: 24px;
    left: 110px;
    margin-left: 2em;
    position: absolute;
    text-transform: uppercase;
    top: 5px;
    white-space: nowrap;
}

#mainHeader {
    background: #dddddd;
    height: 61px;
}

.headertitle {
    font-size: 24px;
}

#headerleft {
    top: 8px;
}

#headerright {
    top: 15px;
}

iframe {
    border: thin solid gray;
}

#widgetsMessages button {
    margin: 10px;
}

#mainFooter {
    margin-left: 28px;
    margin-right: 28px;
    width: auto;
}

#mainNavContainer a, #mainNavContainer a:visited {
    color: #636363;
    font-size: 14px;
    font-weight: bold;
}


#mainBody {
    margin-top: -2px;
    height: 82%;
}

#main {
    margin-left: 28px;
    margin-right: 28px;
    background: white;
    padding-bottom: 10em;
}

#mainWrap {
    background: #dddddd;
}

.navitemSelected {
    background-color: #efd137;
}

.main-menuSect .main-menuItem {
    margin-left: 14px;
}

.main-menuSect .navItemSelected {
    width: 89%;
}

/*
   These styles are used for the tab navigation option
 */
.tabnav .main-menuSect {
    display: inline;
}

.tabnav .main-menuSectItems {
    display: inline;
}

.tabnav .main-menuSect .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav #mainNavigation {
    width: auto;
    float: none;
    margin: -55px 5px 15px 75px;
    white-space: nowrap;
    font-size: 12px;
}

.tabnav #mainContent {
    float: none;
}

.tabnav #mainNavContainer {
    border-bottom: thin solid black;
}

.tabnav #mainNavContainer a {
    display: inline;
    padding: 1em;
    width: auto;
    padding-bottom: 6px;
}

.tabnav #mainNavContainer .main-menuSect a.main-menuSectItem {
    display: none;
}

.tabnav .main-menuSeparator {
    display: none;
}

.tabnav #mainBody {
    margin-left: 35px;
}

.tabnav #mainsubtitle {
    display: none
}

.tabnav .navItemSelected a {
    background-color: #EDEEEC;
    margin-top: -25px;
}

.tabnav #mainHeaderContainer .headertitle {
    color: black;
    font-size: 24px;
    top: -50px;
}

.tabnav #mainHeader {
    background: transparent;
}

/*
   We use this grid style to show the grid on the CSS page.
 */
#main.grid {
    background: url("images/grid.gif") repeat-y scroll -1px -8px white;
}

#mainFooter.tabnav  {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}

.tabnav #mainBody {
    height: auto;
}

.tabnav #main {
    margin-left: 0px;
    margin-right: 0px;
    background: white;
    padding-bottom: 10em;
}

#mainWrap.tabnav {
    background: white;
}


.msg-feedback {
    left: 335px;
}

#localesTable {
    -moz-border-radius: 4px;
    -moz-column-gap: 20px;
    -moz-column-width: 120px;
    -webkit-border-radius: 4px;
    -webkit-column-gap: 20px; 
    -webkit-column-width: 120px;
    column-gap: 20px; 
    column-width: 120px; 
    font-size: 12px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 17px;
}

.highlightSection {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 18px;
    margin-bottom: 17px;
}

#testAuthResult {
    font-weight:bold;
}

.optionalText, .comment {
    color: rgb(0,128,0);
}

.keyword {
    color: blue;
}

.string {
    color: #e3003a;
}

.prefspulltab a {
    background-color: #dddddd;
}

.prefspulltab div {
    margin-top: 3px;
}

.prefspaneltab {
    position: relative;
    top: 5px;
}

#WidgetsSlidingGrid p {
    color: black;
    padding-bottom: 14px;
}

.main-menuSeparator {
    background: url("images/sep_dash.png") no-repeat scroll 0 0 transparent;
    height:15px;
}

#cssSampleImage {
    margin-bottom: 10px;
    margin-top: 18px;
}

#loginImage {
    margin-bottom: 14px;
}

#loginHeaderContainer {
    background: #dddddd;
}

.headertitle {
    left: 10px;
    color: #636363;
    font-size: 24px;
    font-weight: bold;
}

.yellowHighlightSection {
    border: 1px solid #E6DB55;
    background-color: #FFFFE0;
}

#loginSection {
    margin-bottom: 14px;
}

#fixedGridTab {
    background: none repeat scroll 0 0 transparent;
    left: -1px;
    position: fixed;
    _position: absolute;
    top: 25%;
    width: 28px;
    background: #CCCCCC;
    padding-top: 14px;
    padding-bottom: 12px;
    border: 1px solid white;
}

#fixedGridTab:hover {
    border-left: none;
    padding-left: 5px;
}

#fixedGridTab button {
    background: url("images/grid_tab_text.png") no-repeat scroll 3px center transparent;
    border: none;
    height: 192px;
    margin-left: 3px;
    width: 28px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
   Adjust the width of the error log so it fits within our main page area.
 */
#humanMsgLog ul {
    left: 28px;
    right: 28px;
    width: auto;
}

#humanMsgLog p.minimized {
    right: 28px;
}

.main-menuSectItemExpanded {
    background: url("images/arrows.png") no-repeat scroll 0 8px transparent;
    border-bottom: none;
}
