<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <mime-mapping>  
    <extension>json</extension>  
    <mime-type>application/json;encoding=UTF-8</mime-type>  
  </mime-mapping>

  <!-- The localization filter -->
  <filter>
    <description>Filter to choose the best-match locale from the supported locales for GWT</description>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>MY_PACKAGE.server.LocaleFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/index.html</url-pattern>
  </filter-mapping>

  <!-- Servlets -->
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>MY_PACKAGE.server.SimpleServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>JSLocaleServlet</servlet-name>
    <servlet-class>org.spiffyui.server.JSLocaleServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/simple/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JSLocaleServlet</servlet-name>
    <url-pattern>/js/lib/i18n/date</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>JSLocaleServlet</servlet-name>
    <url-pattern>/js/lib/i18n/jquery.ui.datepicker.js</url-pattern>
  </servlet-mapping>
  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
