body, table td, .gwt-TextBox, .gwt-ListBox, .gwt-PasswordTextBox, .gwt-TextArea, .gwt-SuggestBox, select {
    font-family: "chaparral-pro-1","chaparral-pro-2",Verdana,Sans-serif;
    font-size: 18px;
    line-height: 24px;
}
 
.gwt-TextBox, .gwt-ListBox, .gwt-PasswordTextBox, .gwt-TextArea, .gwt-SuggestBox, select {
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
}
 
.humanMsg {
    font: 21px/28px "ff-meta-web-pro-1","ff-meta-web-pro-2";
}

.ui-progressbar {
    height: 12px;
    width: 85%;
}

#WidgetsPanel {
    padding-right: 10px;
}

.slidegrid {
    margin-left: -15px;
}

button {
    border: 2px solid lightgray;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
}

button.spiffy-save-button {
    background: url("images/spiffy_ui_images.png") no-repeat scroll 10px -432px #EDEEEC;
}

h4 {
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}

h3 {
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2", Sans-serif;
    color: #C84317;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 10px;
}

h1 {
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2", Sans-serif;
    color: #1795C6;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 13px;
    margin-top: -6px;
    width: 480px;
}

h2 {
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2", Sans-serif;
    color: #c84317;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 18px;
}

.documentationPanel {
    width: 480px;
}

.sectionTitle, .subSectionTitle, .spiffy-longmessage-panel {
    width: 525px;
}

.spiffy-longmessage-panel {
    font-size: 16px;
}

.sectionTitle {
    margin-bottom: 24px;
}

.dialogformrow {
    height: 48px;
}

.dialogformlabel {
    font-size: 18px;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
}

/*
   Most of the time we have a font size of 12 pixels.  This smaller
   font works well for form labels, but that doesn't work well for
   pages with larger blocks of text.  For the documentation panels
   in the SPSample application 12 pixels is too small.  For those 
   panels we use 14 pixel fonts with an 18 pixel line height.
 */
.documentationPanel p, .documentationPanel ul {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
}

.documentationPanel pre {
    font-size: 14px;
    line-height: 24px;
    font-family: "anonymous-pro-1","anonymous-pro-2",monospace;
    margin-bottom: 24px;
}

.documentationPanel code {
    font-size: 16px;
    line-height: 15px;
    font-family: "anonymous-pro-1","anonymous-pro-2",monospace;
}

.documentationPanel a, .documentationPanel a:visited, .slidegrid a, .slidegrid a:visited, #landingPanel a, #landingPanel a:visited {
    color: #289bc8;
}

.documentationPanel ul {
    list-style: square inside none;
    margin-bottom: 24px;
}

.documentationPanel li {
    list-style: disc inside none;
}
    

#mainHeaderContainer .headertitle {
    left: 20px;
    color: #CCCCCC;
    font-weight: 600;
    font-size: 48px;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",Verdana,Sans-serif;
    top: -47px;
}

#headerstring, #header_logout {
    color: #F9F9F9 !important; /*otherwise, it gets overwritten by #mainHeader a */
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",Verdana,Sans-serif;
}

#mainsubtitle {
    display: block;
    font-size: 24px;
    left: 110px;
    padding-left: 2em;
    position: absolute;
    text-transform: uppercase;
    top: 12px;
    white-space: nowrap;
    line-height: 14px;
}

#mainHeader {
    background: black;
    height: 61px;
    margin-left: -10px;
}

.headertitle {
    font-size: 24px;
}

#headerleft {
    top: 8px;
}

#headerright {
    top: 15px;
}

iframe {
    border: thin solid gray;
}

#widgetsMessages button {
    margin: 10px;
}

#mainFooter {
    margin: -36px auto;
    padding-left: 10px;
    width: 900px;
}

#mainNavContainer a, #mainNavContainer a:visited {
    color: #636363;
    font-size: 18px;
    font-weight: normal;
    line-height: 32px;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2", Sans-serif;
}

#mainNavigation {
    margin: 19px 5px 15px -185px;
}


#mainBody {
    margin-top: -2px;
    height: 82%;
    width: auto;
}

#main {
    background: none repeat scroll 0 0 white;
    margin: 0 auto;
    padding-bottom: 4em;
    padding-left: 10px;
    width: 900px;
}

#mainWrap {
    background: #E9E7E0;
}

.navItemSelected {
    background-color: #EFD137;
}

.main-menuSect .main-menuItem a {
    text-indent: 28px;
}

/*
   These styles are used for the tab navigation option
 */
.tabnav .main-menuSect {
    display: inline;
}

.tabnav .main-menuSectItems {
    display: inline;
}

.tabnav .main-menuSect .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav .main-menuItem {
    display: inline;
    width: auto;
}

.tabnav #mainNavigation {
    width: auto;
    float: none;
    margin: -55px 5px 15px 75px;
    white-space: nowrap;
    font-size: 12px;
}

.tabnav #mainContent {
    float: none;
}

.tabnav #mainNavContainer {
    border-bottom: thin solid black;
}

.tabnav #mainNavContainer a {
    display: inline;
    padding: 1em;
    width: auto;
    padding-bottom: 6px;
}

.tabnav #mainNavContainer .main-menuSect a.main-menuSectItem {
    display: none;
}

.tabnav .main-menuSeparator {
    display: none;
}

.tabnav #mainBody {
    margin-left: 35px;
}

.tabnav #mainsubtitle {
    display: none
}

.tabnav .navItemSelected a {
    background-color: #EDEEEC;
    margin-top: -25px;
}

.tabnav #mainHeaderContainer .headertitle {
    color: black;
    font-size: 24px;
    top: -50px;
}

.tabnav #mainHeader {
    background: transparent;
}

/*
   We use this grid style to show the grid on the CSS page.
 */
#main.grid {
    background: url("images/grid.gif") repeat-y scroll 8px -12px white;
}

#mainFooter.tabnav  {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
}

.tabnav #mainBody {
    height: auto;
}

.tabnav #main {
    margin-left: 0px;
    margin-right: 0px;
    background: white;
    padding-bottom: 10em;
    width: 100%;
}

#mainWrap.tabnav {
    background: white;
}


.msg-feedback {
    left: 335px;
}

#localesTable {
    -moz-border-radius: 4px;
    -moz-column-gap: 20px;
    -moz-column-width: 140px;
    -webkit-border-radius: 4px;
    -webkit-column-gap: 20px; 
    -webkit-column-width: 140px;
    column-gap: 20px; 
    column-width: 140px; 
    border-radius: 4px;
    font-size: 12px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 23px;
}

.highlightSection {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #F9F9F9;
    border: thin solid lightgray;
    padding: 18px;
    margin-bottom: 28px;
}

#testAuthResult {
    font-weight: 600;
}

.optionalText, .comment {
    color: rgb(0,128,0);
}

.keyword {
    color: blue;
}

.string {
    color: #e3003a;
}

.prefspulltab {
    position: absolute;
    right: 192px;
}

.prefspulltab a {
    background-color: #dddddd;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
    background-position: right center;
    line-height: 23px;
}

.prefspaneltab h3 {
    font-size: 16px;
    font-weight: normal;
}

.pulldownprefspanel {
    top: -8px;
}

.prefspaneltab {
    position: relative;
    top: -10px;
    margin-bottom: -7px;
    width: 682px;
}

.cell {
    background: transparent;
}

#WidgetsSlidingGrid p {
    color: black;
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 24px;
}

#WidgetsMessages button {
    display: block;
    margin-top: 0.5em;
}

.main-menuSeparator {
    background: url("images/spiffy_sample_images.png") no-repeat scroll -575px -85px transparent;
    height:15px;
}

#cssSampleImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 0 transparent;
    width: 515px; 
    height: 240px;
    margin-bottom: 23px;
    margin-top: 18px;
}

#componentsImg {
    background: url("images/spiffy_sample_images.png") no-repeat scroll -120px -1050px transparent;
    width: 450px;
    height: 208px;
    margin-bottom: 8px;
}
    

#loginImage, #logoutImage {
    margin-top: 5px;
    width: 492px; 
    height: 332px;
}

#login_titlespan {
    padding-right: 0px;
}

#login_username_row label, #login_password_row label {
    font-size: 18px;
    color: #777777;
}

#login_password_row label {
    margin-top: 1.5em;
}

#loginImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 -2148px transparent;
    margin-bottom: 28px;
}

#logoutImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 -2630px transparent;
    margin-bottom: 28px;
}

#loginHeaderContainer {
    background: #dddddd;
}

#firebugImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 -390px transparent;
    width: 515px; 
    height: 346px;
    margin-bottom: 14px;
}

.headertitle {
    left: 10px;
    color: #636363;
    font-size: 24px;
    font-weight: 600;
}

.yellowHighlightSection {
    border: 1px solid #E6DB55;
    background-color: #FFFFE0;
}

#loginSection {
    margin-bottom: 39px;
}

#fixedGridTab {
    background: none repeat scroll 0 0 transparent;
    left: -1px;
    position: fixed;
    _position: absolute;
    top: 25%;
    width: 28px;
    background: #CCCCCC;
    padding-top: 16px;
    padding-bottom: 12px;
    border: 1px solid white;
    display: none;
}

#fixedGridTab:hover {
    border-left: none;
    padding-left: 5px;
}

#fixedGridTab button {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 3px -1054px transparent;
    border: none;
    height: 192px;
    margin-left: 3px;
    width: 28px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
   Adjust the width of the error log so it fits within our main page area.
 */
#humanMsgLog ul {
    left: -10px;
    right: 0px;
    width: auto;
}

#authTestBtn {
    font-size: 18px;
    font-weight: 600;
}

/*
   Remove the gray backgrounds and the borders from the menu section titles
 */
.main-menuSectItem {
    background: url("images/arrows.png") no-repeat scroll 0 -128px #F9F9F9;
    border-bottom: none;
}

.main-menuSectItemExpanded {
    background: url("images/arrows.png") no-repeat scroll 0 8px #F9F9F9;
    border-bottom: none;
}

#userMale {
    margin-left: 1.5em;
}

#introVideo {
    margin-bottom: 37px;
}

#frameworkVideo {
    margin-bottom: 24px;
}

#javaDocImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 -1396px transparent;
    width: 592px; 
    height: 622px;
    display: block;
}

#restImage {
    background: url("images/spiffy_sample_images.png") no-repeat scroll 0 -3112px transparent;
    width: 478px; 
    height: 241px;
    margin-bottom: 47px;
}

#authTestLongMessage {
    margin-top: 36px;
}

#authTestButtons button {
    background: #EDEEEC;
    text-indent: 0px;
}

#authTestLongMessageWidget {
    background: #F9F9F9;
    border: thin solid lightgray;
    margin-left: 0px;
    padding: 17px;
    width: 470px;
    height: 125px;
    overflow: auto;
    line-height: 24px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#authTextLongMessageTitle {
    margin-bottom: -35px;
    margin-left: 0px;
    margin-top: 36px;
}

.testSuccess {
    font-weight: 600;
    color: green;
}

.testFail {
    font-weight: 600;
    color: red;
}

#headerlogo {
    /*background: url("images/spiffy_logo.png") no-repeat scroll center center transparent;*/
    height: 54px;
    margin-left: -17px;
    position: relative;
    top: -3px;
    width: 35px;
}

#spiffyFeatures {
    position: relative;
    height: 524px;
}

#featuresCol1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 48%;
}

#featuresCol2 {
    position: absolute;
    top: 0px;
    left: 52%;
    width: 48%;
}

.featureItem {
    height: 120px;
    line-height: 24px;
    font-size: 18px;
}

#securityFeature, #restFeature {
    height: 144px;
}

.featureItem span {
    display: block;
    font-weight: 600;
    font-size: 18px;
}

#gwtDebugTab { 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -40px transparent;
    width: 572px; 
    height: 456px;
} 

#mainDebugTab { 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -522px transparent;
    width: 554px; 
    height: 442px; 
    margin-bottom: 14px;
}
 
#serverDebugTab{ 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -1023px transparent;
    width: 557px; 
    height: 441px;
    margin-bottom: 15px;
} 

#developmentMode { 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -1486px transparent;
    width: 445px; 
    height: 294px;
    margin-bottom: 18px;
} 

#importDialog { 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -1809px transparent;
    width: 586px; 
    height: 630px;
    margin-bottom: 18px;
} 

#hostedModePlugin { 
    background: url("images/hostedmode_sprites.png") no-repeat scroll 0 -2480px transparent;
    width: 507px; 
    height: 336px;
}
 
#browsers {
    background: url("images/spiffy_sample_images.png") no-repeat scroll -140px -870px transparent;
    width: 400px; 
    height: 75px;
    margin-bottom: 20px;
}

.licInfo {
    float: right;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #F9F9F9;
    padding: 5px;
    border: thin solid lightgray;
    width: 10em;
    margin-left: 2em;
}

.documentationPanel p.licHeader {
    margin-bottom: 0px;
    margin-top: 48px;
}

/*
   Styles for the sausage menu
 */
.sausagenav #mainBody {
    margin-left: 25px;
}

.sausagenav #mainNavigation {
    display: none;
}

.sausage-set {
    position: fixed; right: 0; top: 0;
    width: 15px; height: 100%;
    border-left: solid 2px #fff;
    border-right: solid 2px #fff;
    background-color: #fff;
}

.sausage {
    position: absolute; left: 0;
    width: 100%; height: 100%;
    background-color: #f1f1f1;
    text-decoration: none;
    -moz-border-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
    -webkit-box-shadow: inset 0px 1px 2px 4px rgba(0, 0, 0, 0.025);
    cursor: pointer;
}

.sausage-current {
    background-color: #EFD137;
    -moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
}

.sausage-hover {
    background-color: #fdf12a;
    -moz-box-shadow: inset 0px 1px 2px 4px rgba(51, 63, 70, 0.025);
}

.sausage-span {
    position: absolute; 
    right: 24px; 
    top: 5px; 
    z-index: 200;
    display: none;
    width: 100px;
    padding: 2px 3px;
    color: #000;
    background-color: #fff;
    border: solid 2px #EFD137;
    font-size: 16px; 
    line-height: 18px; 
    font-weight: normal;
    text-align: center;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.sausage-hover .sausage-span, .sausage-current .sausage-span {
    display: block;
}

#mainContent > div {
    width: 900px;
}

#mainContent > #formPanel, #mainContent > #javaDocPanel, #mainContent > #helpPanel {
    margin-bottom: 16em;
}

.facItem {
    padding: 3px;
}

.facName {
    font-size: 16px;
}

.facDesc {
    color: #7B7C7F;
    white-space: normal;
}

.gwt-SuggestBoxPopup .item {
    font-size: 16px;
    line-height: 18px;
}

.facRgb {
    float: right;
    width: 15px;
    height: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-left: 5px;
    margin-top: 5px;
}

#userGender {
    top: 3px;
}

#main.landing #mainBody {
    margin-left: 0px;
}

#main.landing #mainNavigation, #main.landing #mainHeader {
    display: none;
}

#callouts, #callouts2 {
    position: relative;
    height: 198px;
}

#createSpiffy {
    position: relative;
    height: 230px;
}

.landingCallout {
    position: absolute;
    top: 5px;
    width: 25%;    
}

.landingCallout, #createForm, #createText {
     transition: box-shadow 0.5s, border 0.5s;
    -moz-transition: box-shadow 0.5s, border 0.5s; /* Firefox 4 */
    -webkit-transition: box-shadow 0.5s, border 0.5s; /* Safari and Chrome */
    -o-transition: box-shadow 0.5s, border 0.5s; /* Opera */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; 
    padding: 0px 5px 5px 10px;
    border: 1px solid white;
}

#createForm {
    padding: 0px 5px 5px 15px; 
    background-color: #FFFFE0;
    border: 1px solid #FFFFE0;
}

#createForm:hover {
    border: 1px solid #E6DB55;
}

.landingCallout:hover, #createText:hover {
    border: 1px solid lightgray;    
}

.landingCallout:hover, #createForm:hover, #createText:hover {
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

#timeCallout, #licCallout {
    left: 5px;
}

#restCallout, #stableCallout {
    left: 33%;
}

#secCallout, #mobileCallout {
    left: 66%;
}

#callouts h2 {
    margin-bottom: 0px;
}

#createForm {
    position: absolute;
    width: 60%;
    left: 5px;
    height: auto;
}

#createText {
    position: absolute;
    width: 25%;
    left: 66%;
    top: 5px;
}

#landingMain {
    margin-top: 25px;
    margin-left: 25px;
}

#landingPanel h1 {
    font-weight: normal;
    font-size: 48px;
    font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2",Verdana,Sans-serif;
    padding-left: 50px;
    background: url("images/spiffy_logo.png") no-repeat scroll left 0px transparent;
    height: 55px;
    color: black;
    margin-top: 25px;
}

#slogan {
    font-size: 24px;
    margin-left: 1em;
}

#landingPanelText {
    position: relative;
}

#landingMenu {
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: thin solid lightgray;
    border-left: thin solid lightgray;
    padding: 20px 25px 10px 10px;
    position: absolute;
    right: 0;
    top: -25px;
}

#landingMenu .landingMenuItem {
    border-right: thin dashed lightgray;
    margin-right: 10px;
    padding-right: 10px;
}

#mainHeader a:hover {
    color: #EFD137;
}